.main-screen{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/background.jpg');
}

.sub-screen{
    height: 500px;
    width: 500px;
    background: white;
    margin: 13rem auto;
    border-radius: 2rem;
}

.p-head{
    height: 50px;
    text-align: center;
    font-weight: bold;
    margin: 3rem 0;
    font-size: 20px;
    letter-spacing: 4px;
    word-spacing: 4px;
}

.email-input{
    border: 1px solid black;
    background: none;
    width: 400px;
    margin: 0 4rem;
    height: 50px;
    letter-spacing: 4px;
    word-spacing: 2px;
    font-size: 12px;
}

.password-input{
    border: 1px solid black;
    background: none;
    width: 400px;
    margin: 1rem 4rem;
    height: 50px;
    letter-spacing: 4px;
    word-spacing: 2px;
    font-size: 12px;
}

.login-button{
    border: 1px solid black;
    background: black;
    color: white;
    width: 400px;
    margin: 1rem 4rem;
    height: 50px;
    letter-spacing: 4px;
    word-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
}

.account-p{
    text-align: center;
    font-size: 10px;
    width: 400px;
    margin-right: -6rem;
}

.register-button{
    font-size: 10px;
    width: 100px;
    border: 0;
    background: none;
    margin: 0 -1rem;
    color: black;
}

@media only screen and (max-width: 414px) {
    .main-screen{
        background:#5CAAD6;
        position: absolute;
    }
    .sub-screen {
        height: 380px;
        width: 380px;
        background: white;
        margin: 13rem auto;
        border-radius: 2rem;
    }
    .p-head {
        height: 50px;
        text-align: center;
        font-weight: bold;
        margin: 2rem 0;
        font-size: 20px;
        letter-spacing: 4px;
        word-spacing: 4px;
    }

    .email-input {
        border: 1px solid black;
        background: none;
        width: 340px;
        margin: 0 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }

    .password-input {
        border: 1px solid black;
        background: none;
        width: 340px;
        margin: 1rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }
    .login-button {
        border: 1px solid black;
        background: black;
        color: white;
        width: 340px;
        margin: 0rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem 0;
    }

    .account-p {
        text-align: center;
        font-size: 10px;
        width: 300px;
        margin: 1rem 0rem;
    }

    .register-button {
        font-size: 10px;
        width: 100px;
        border: 0;
        background: none;
        margin: 1rem -4rem;
        color: black;
    }
    
}

@media only screen and (width:375px) {
    .main-screen{
        background:#5CAAD6;
        position: absolute;
    }

    .sub-screen {
        height: 310px;
        width: 300px;
        background: white;
        margin: 10rem auto;
        border-radius: 2rem;
    }

    .p-head {
        height: 50px;
        text-align: center;
        font-weight: bold;
        margin: 1.7rem 0;
        font-size: 20px;
        letter-spacing: 4px;
        word-spacing: 4px;
    }

    .email-input {
        border: 1px solid black;
        background: none;
        width: 260px;
        margin: 0 2rem;
        height: 40px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 10px;
    }

    .password-input {
        border: 1px solid black;
        background: none;
        width: 260px;
        margin: 1rem 2rem;
        height: 40px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 10px;
    }

    .login-button {
        border: 1px solid black;
        background: black;
        color: white;
        width: 260px;
        margin: 0rem 2rem;
        height: 40px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem 0;
    }
    
    .account-p {
        text-align: center;
        font-size: 9px;
        width: 300px;
        margin: 1rem -1rem;
    }

    .register-button {
        font-size: 9px;
        width: 100px;
        border: 0;
        background: none;
        margin: 1rem -4rem;
        color: black;
    }
}

@media only screen and (max-width:390px) {
    .main-screen{
        background:#5CAAD6;
        position: absolute;
    }
    
    .sub-screen {
        height: 350px;
        width: 340px;
        background: white;
        margin: 10rem auto;
        border-radius: 2rem;
    }

    .email-input {
        border: 1px solid black;
        background: none;
        width: 300px;
        margin: 0 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }

    .password-input {
        border: 1px solid black;
        background: none;
        width: 300px;
        margin: 1rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }

    .login-button {
        border: 1px solid black;
        background: black;
        color: white;
        width: 300px;
        margin: 0rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem 0;
    }
}

@media only screen and (width:393px) {
    .sub-screen {
        height: 350px;
        width: 350px;
        background: white;
        margin: 13rem auto;
        border-radius: 2rem;
    }

    .email-input {
        border: 1px solid black;
        background: none;
        width: 310px;
        margin: 0 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }

    .password-input {
        border: 1px solid black;
        background: none;
        width: 310px;
        margin: 1rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }

    .login-button {
        border: 1px solid black;
        background: black;
        color: white;
        width: 310px;
        margin: 0rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem 0;
    }
    
}

@media only screen and (width:360px) {
    .sub-screen {
        height: 350px;
        width: 330px;
        background: white;
        margin: 13rem auto;
        border-radius: 2rem;
    }

    .email-input {
        border: 1px solid black;
        background: none;
        width: 290px;
        margin: 0 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }

    .password-input {
        border: 1px solid black;
        background: none;
        width: 290px;
        margin: 1rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }

    .login-button {
        border: 1px solid black;
        background: black;
        color: white;
        width: 290px;
        margin: 0rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem 0;
    }

    .register-button {
        font-size: 10px;
        width: 100px;
        border: 0;
        background: none;
        margin: 1rem -4.5rem;
        color: black;
    }
}

@media only screen and (width:540px) {
    .sub-screen {
        height: 350px;
        width: 350px;
        background: white;
        margin: 7rem auto;
        border-radius: 2rem;
    }

    .email-input {
        border: 1px solid black;
        background: none;
        width: 310px;
        margin: 0 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }

    .password-input {
        border: 1px solid black;
        background: none;
        width: 310px;
        margin: 1rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
    }

    .p-head {
        height: 50px;
        text-align: center;
        font-weight: bold;
        margin: 2rem 0;
        font-size: 20px;
        letter-spacing: 4px;
        word-spacing: 4px;
    }

    .login-button {
        border: 1px solid black;
        background: black;
        color: white;
        width: 310px;
        margin: 0rem 2rem;
        height: 50px;
        letter-spacing: 4px;
        word-spacing: 2px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem 0;
    }

    .account-p {
        text-align: center;
        font-size: 10px;
        width: 350px;
        margin-right: -6rem;
        margin-top: 0.5rem;
        margin-left: -1rem;
    }

    .register-button {
        font-size: 10px;
        width: 100px;
        border: 0;
        background: none;
        margin: 0.5rem -0.5rem;
        color: black;
    }
    
}

@media only screen and (width:1024px) {
    .sub-screen {
        height: 400px;
        width: 500px;
        background: white;
        margin: 4rem auto;
        border-radius: 2rem;
    }
}
